* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "Noto Sans", sans-serif;
}

button {
    border: none;
    background-color: #fff;
    font-family: "Noto Sans", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a, a:hover {
    text-decoration: none;
    color: #121212;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 0;
    background: #eceef0;
}

.floating-menu {
    position: fixed;
    top: 0;
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.floating-menu > div {
     display: flex;
}

.logo {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    margin-left: .4rem;
}

.tag {
    display: flex;
    align-items: center;
    padding: .4rem .7rem .4rem .6rem;
    width: auto;
    border-radius: .6rem;
    background-color: #fff;
    cursor: pointer;
    transition: .3s; 
}

.tag:hover {
    transform: scale(.95);
    background-color: #24ce6b;
}

.tag-foto {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: cover;
    border-radius: 100rem;
}

.tag-nombre, .tag-hover {
    margin: 0 0 0 .6rem;
    font-size: .75rem;
    font-weight: 600;
    transition: .3s;
}

.tag-hover {
    display: none;
}

.tag:hover > .tag-nombre {
    display: none;
}

.tag:hover > .tag-hover {
    display: inline;
    color: white;
}

.img-less {
    margin-right: .6rem;
    padding: .4rem .8rem;
}

.img-less > p {
    margin: 0;
}

#container-dashboard {
    display: flex;
    height: 9.25rem;
    padding: 4.5rem 1rem 1rem 1rem ;
    overflow-x: scroll;
}

#container-map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 11.75rem);
    background-color: #24ce6b;
    overflow: hidden;
}

#navigation-menu {
    height: 5rem;
    background-color: #eceef0;
}

*::-webkit-scrollbar {
    height: 4px;
}
  
*::-webkit-scrollbar-track {
    background: #e8e8e8;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #d4d4e2;
}

.floating-buttons {
    position: fixed;
    margin: 1rem;
    padding: .25rem;
    bottom: 5rem;
    background-color: #eceef0;
    border-radius: .45rem;
}

.toggle {
    background-color: #eceef0;
    padding: .4rem .6rem;
    border-radius: .45rem;
    color: #121212;
    font-size: .7rem;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: .3s ease-in-out;
}

.toggle-active {
    background-color: #fff;
}

.toggle:hover {
    background-color: #ffffff8a;
}

.map {
    position: absolute;
    width: 100%;
    height: calc(100vh - 11.75rem);
    object-fit: cover;
}

.bottom-menu {
    display: flex;
    align-items: center;
    height: 5rem;
    padding-left: 1.5rem;
}

.menu-btn {
    width: 11rem;
    height: 2.5rem;
    border-radius: .4rem;
    margin-right: 1rem;
    font-size: .8rem;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: .3s ease-in-out;
}

.menu-btn:hover {
    background-color: #f7f7fa;
}

#robot-icon, .waypoint-icon {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #ececec;
    border-radius: 10rem;
    background-color: #24ce6b;
    z-index: 2;
}

.waypoint-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #4e49ed;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .7rem;
}

#waypoint-icon-A {
    top: 7%;
}

#waypoint-icon-B {
    top: 20%;
    right: 10%;
}

#waypoint-icon-C {
    bottom: 30%;
    left: 8%;
}

#waypoint-icon-D {
    bottom: 30%;
    left: 8%;
}

#waypoint-icon-E {
    top: 30%;
    left: 15%;
}

#waypoint-icon-F {
    bottom: 4%;
    right: 4%;
}