* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "Noto Sans", sans-serif;
}

button {
    border: none;
    background-color: #fff;
    font-family: "Noto Sans", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a, a:hover {
    text-decoration: none;
    color: #121212;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 0;
    background: #eceef0;
}

.floating-menu {
    position: fixed;
    top: 0;
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.floating-menu > div {
     display: flex;
}

.logo {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    margin-left: .4rem;
}

.tag {
    display: flex;
    align-items: center;
    padding: .4rem .7rem .4rem .6rem;
    width: auto;
    border-radius: .6rem;
    background-color: #fff;
    cursor: pointer;
    transition: .3s; 
}

.tag:hover {
    transform: scale(.95);
    background-color: #24ce6b;
}

.tag-foto {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: cover;
    border-radius: 100rem;
}

.tag-nombre, .tag-hover {
    margin: 0 0 0 .6rem;
    font-size: .75rem;
    font-weight: 600;
    transition: .3s;
}

.tag-hover {
    display: none;
}

.tag:hover > .tag-nombre {
    display: none;
}

.tag:hover > .tag-hover {
    display: inline;
    color: white;
}

.img-less {
    margin-right: .6rem;
    padding: .4rem .8rem;
}

.img-less > p {
    margin: 0;
}

#container-dashboard {
    display: flex;
    height: 9.25rem;
    padding: 4.5rem 1rem 1rem 1rem ;
    overflow-x: scroll;
}

#container-map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 11.75rem);
    background-color: #ffffff;
    overflow: hidden;
}

.map-div {
    position: absolute;
    width: 1500px;
    height: calc(100vh - 13rem);
    background-image: url('../../../assets/img/mapita.png');
    background-position: center;
}

.left {
    width: 1250px;
    left: 0;
}

.imgv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: calc(100vw - 1250px);
    height: calc(100vh - 11.5rem);
    background-color: #121212;
}

.imgv > p {
    color: #fcfcfc;
    font-size: 1.2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgv > img {
    width: calc(100vw - 1250px);
    height: calc(100vh - 13rem);
    padding: 1.7rem 1.2rem;
    object-fit: cover;
}

#navigation-menu {
    height: 5rem;
    background-color: #eceef0;
    background-color: #151515;
}

*::-webkit-scrollbar {
    height: 4px;
}
  
*::-webkit-scrollbar-track {
    background: #e8e8e8;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #d4d4e2;
}

.floating-buttons {
    position: fixed;
    margin: 1rem;
    padding: .25rem;
    bottom: 5rem;
    background-color: #eceef0;
    border-radius: .45rem;
}

.float-btns {
    position: fixed;
    margin: 1rem;
    padding: .25rem;
    bottom: 5rem;
    left: 9.2rem;
    background-color: #eceef0;
    border-radius: .45rem;
}

.float-btns-2 {
    position: fixed;
    margin: 1rem;
    padding: .25rem;
    bottom: 5rem;
    left: 14rem;
    background-color: #eceef0;
    border-radius: .45rem;
}

.toggle {
    background-color: #eceef0;
    padding: .4rem .6rem;
    border-radius: .45rem;
    color: #151515;
    font-size: .7rem;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: .3s ease-in-out;
}

.toggle-active {
    background-color: #fff;
}

.toggle:hover {
    background-color: #ffffff8a;
}

.map {
    width: 100%;
    height: calc(100vh - 11.75rem);
    object-fit: cover;
}

.bottom-menu {
    display: flex;
    align-items: center;
    height: 5rem;
    padding-left: 1.5rem;
}

.menu-btn {
    width: 11rem;
    height: 2.5rem;
    border-radius: .4rem;
    margin-right: 1rem;
    font-size: .8rem;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: .3s ease-in-out;
    
    background-color: #272727;
    color: #fcfcfc;
}

.menu-btn:hover {
    background-color: #f7f7fa;
    background-color: #313131;
}

#robot-icon, .point {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

#robot-icon, .waypoint-icon {
    background-color: #24ce6b;
}

.waypoint-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #4e49ed;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .7rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #ececec;
    border-radius: 10rem;
    z-index: 4;
}
.waypoint-icon-fire {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #f7683c56;
    border: 1px solid #ff5723;
    width: 20rem;
    height: 20rem;
    border-radius: 100rem;
    z-index: 3;
}

.pab {
    top: 50%;
    left: 50%;
}

#waypoint-icon-A {
    top: 18%;
    left: 50%;
}

#waypoint-icon-B {
    top: 20%;
    left: 82.5%;
}

#waypoint-icon-C {
    top: 50%;
    left: 85%;
}

#waypoint-icon-D {
    top: 75%;
    left: 12%;
}

#waypoint-icon-E {
    top: 30%;
    left: 15%;
}

#waypoint-icon-F {
    top: 58%;
    left: 60%;
}

#waypoint-icon-F > .waypoint-icon-fire {
    display: flex;
}

#alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1212122a;
    backdrop-filter: blur(4px);
    z-index: 999999;
}

.alert-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
}

.alert-popup > div {
    display: flex;
    align-items: center;
}

.alert-popup svg {
    color: #e94848;
    margin: 0 1.8rem 0 1rem;
    animation: mymove 2.5s infinite;
}

@keyframes mymove {
    50% {
        transform: scale(1.1);
        -webkit-filter: drop-shadow( 0px 0px 10px rgb(240, 81, 41));
        filter: drop-shadow( 0px 0px 10px rgb(240, 81, 41));
    }
}

.popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 9rem);
    bottom: 0;
    background-color: #fff;
    z-index: 3;
    padding: 5rem;
    
}

canvas {
    width: 90%;
    height: 26rem;
    color: #b6b6b62a;
}

.modal-content-bot h3 {
    font-size: 1.6rem;
    margin-bottom: .4rem;
}

.modal-content-bot p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: 1.2rem;
}

.popup-img {
    width: 30rem;
}

.botoncito {
    background-color: #ffffff;
    padding: .6rem 1.6rem;
    font-size: .9rem;
    font-weight: 600;
    border-radius: .5rem;
    color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    width: 100%;
}

.botoncito:hover {
    color: white;
    background-color:#e94848;
}

.camera {
    background-color: #151515;
}

.btn-active {
    background-color: #24ce6b;
    color: #fff;
}

.rbs {
    position: absolute;   
}