<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="titulo-seccion display-4 lh-1 mb-4">¿Buscas una funcionalidad específica?</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">Si quieres que el robot desempeñe una tarea que todavía no está disponible, puedes contactarnos y contarnos que es lo que buscas. Nosotros te haremos un presupuesto detallado y desarrollaremos el módulo nuevo.</p>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="./assets/img/prog.png" alt="..." /></div>
            </div>
        </div>
    </div>
</section>