<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <app-feature class="col-md-6 mb-5" [icon]="'bi-phone '" [title]="'Disponible en móvil'" [text]="'Se puede conectar con cualquier dispositivo móvil compatible desde la app.'"></app-feature>
                        <app-feature class="col-md-6 mb-5" [icon]="'bi-camera'" [title]="'Captación de fotos'" [text]="'El robot puede tomar fotografías cuando el usuario se lo indique.'"></app-feature>
                    </div>
                    <div class="row">
                        <app-feature class="col-md-6 mb-5 mb-md-0" [icon]="'bi-gift'" [title]="'Mantenimiento gratuito'" [text]="'Tu MultiBot estará actualizado continuamente sin costes añadidos.'"></app-feature>
                        <app-feature class="col-md-6" [icon]="'bi-patch-check'" [title]="'Certificado de calidad'" [text]="'Construido con materiales duraderos y de calidad.'"></app-feature>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <app-smartphone-render></app-smartphone-render>
            </div>
        </div>
    </div>
</section>